@import colors

// FONTS
$josefinSans: 'Josefin Sans', sans-serif
$josefinSlab: 'Josefin Slab', serif
$titillium: 'Alegreya Sans', sans-serif

// TEXT
h1, h3, li, a, p, label, input, textarea
	font-family: $titillium

h2, h4, h5, h6
	font-family: $titillium

p, a, li
	font-size: 18px

p
	margin: 20px 0
	line-height: 1.25

a
	color: $orange

	&:hover
		color: $blue

li
	margin-left: 15px

h2
	font-size: 1.85em
	margin: 15px 0

input, textarea
	font-size: 18px
	padding: 5px 3px