<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Directed Energy</title>

		<link rel="canonical" href="http://directed-energy.org">
		<meta property="og:url" content="http://directed-energy.org/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Directed Energy">
		<meta property="og:description" content="Dedicated to the development of under-resourced, pre-adolescent youth in New York City.">
		<meta property="description" content="Dedicated to the development of under-resourced, pre-adolescent youth in New York City.">
		<meta property="og:image" content="http://differentencounters.org/build/img/mosaic/mosaic_home.jpg">

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="/build/css/styles.css">

		<!-- FAVICON -->
		<link rel="shortcut icon" href="/build/img/de/logo.png">

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,500,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<!-- PROMO -->
		<% include ../partials/_promo.ejs %>

		<!-- NAVIGATION BAR -->
		<% include ../partials/_nav.ejs %>

		<!-- PAGE CONTENTS -->
		<div class="page-contents">

			<% include ../partials/_intro.ejs %>

			<% include ../partials/_about.ejs %>

			<% include ../partials/_programs.ejs %>

			<% include ../partials/_partners.ejs %>

			<% include ../partials/_team.ejs %>
			
			<% include ../partials/_donate.ejs %>

		</div> <!-- END PAGE CONTENTS -->

		<!-- FOOTER -->
		<footer>
			<p id="footer_quote">“To be rooted is perhaps the most important and least recognized need of the human soul.”   - Simone Weil</p>
			<h5 class="main-col">Directed Energy Copyright 2015. All Rights Reserved.</h5>
		</footer>

		<!-- JAVASCRIPT -->
		<script src="/build/js/bundle.js"></script>

	</body>
</html>
