body {
  max-width: 100%;
}

/* NAVIGATION BAR */
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,151,204,1);
  display: inline-block;
}

.nav #nav_title {
  margin: 0 0 0 5px;
}

.nav #nav_title a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

#nav_quote {
  margin: 0 0 0 5px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 14px;
  float: left;
}

.nav_toolbar {
  float: right;
  width: 40%;
}

.nav_toolbar .toolbar {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  /*table-layout: fixed;*/
}

.nav_toolbar .toolbar li {
  display: table-cell;
  width: auto;
  text-align: left;
  padding-left: 5px;
  border-left: 3px solid rgba(196,101,45,1);
}

.nav_toolbar .toolbar li a {
  color: white;
  font-family: 'Josefin Sans', sans-serif;  font-size: 14px;
}

/*.nav_toolbar .toolbar li:last-child a {
  color: orange;
  }*/

  /* GENERAL BODY STYLING */
  .container {
    width: 60%;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto;
    margin-top: 6em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .focus {
    width: 75%;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    border: 3px solid #2EBBD8;
    padding: 5px;
  }

  /* TEAM PAGE STYLING */
  .personnel {
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
  }

  .personnel .image {
    width: 15%;
    float: left;
    border: 1px solid black;
  }

  .personnel .name {
    margin-left: 20px;
    width: 80%;
    float: left;
  }
  .personnel .name h3 {
    margin: 10px 0 0 0;
    font-size: 28px;
  }

  .personnel .title {
    margin-left: 20px;
    width: 80%;
    float: left;
  }

  .personnel .title h4 {
    margin: 0;
  }

  .personnel .bio {
    text-align: justify;
    float: left;
    display: none;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;    text-align: center;
    background-color: rgba(0,151,204,1);
    background: -webkit-linear-gradient(left, rgba(0,151,204,1) , rgba(81,131,211,1));
    background: -o-linear-gradient(right, rgba(0,151,204,1), rgba(81,131,211,1));
    background: -moz-linear-gradient(right, rgba(0,151,204,1), rgba(81,131,211,1));
    background: linear-gradient(to right, rgba(0,151,204,1) , rgba(81,131,211,1));
    color: white;
    margin-top: 10px;
    position: absolute;
    left: 0;
    clear: both;
  }

  .footer h5 {
    /*margin: 0;*/
  }
