<div class="section-wrapper" id="about">
    <div class="section-header">
        <h2 class="main-col main-col-padded">About Us</h2>
    </div>
    <div class="section-contents main-col">
        <div class="section-body">
            <p>Ray Fredrick and Andrey Yoffe founded Directed Energy in 2013 to positively influence young men and women living in troubled neighborhoods in New York City.</p>

            <p>We are dedicating the time, focus and resources to teach and guide young people towards the core fundamentals of <span class="orange">(i)</span> Responsiblity, <span class="orange">(ii)</span> Community Service Leadership, <span class="orange">(iii)</span> Education and <span class="orange">(iv)</span> Family in an environment that facilitates and sharpens the delivery of the message.</p>

            <ul>
                <li>Educational Focus</li>
                <li>Community and Familial Responsibility</li>
                <li>Respect and Self-Respect</li>
            </ul>

            <p>There are few public and private organizations in NYC (particularly that can deliver a resonating message) to address these evident and ever-growing issues.</p>

            <p>Ray Fredrick and Andrey Yoffe are dedicating their time, effort and money to teach and guide young men towards the core fundamentals of <strong>responsibility</strong>, <strong>community service leadership</strong>, <strong>education</strong> and <strong>family</strong> in an environment that facilitates the delivery of the message.</p>

            <p>There are few organizations that address these fundamental values in our young people. Please find more details on the Directed Energy program.</p>

        </div>
    </div> <!-- END #ABOUT SECTION CONTENTS -->
</div> <!-- END #ABOUT -->