<div class="section-wrapper" id="partners">
    <div class="section-header">
        <h2 class="main-col main-col-padded">Our Partners</h2>
    </div>
    <div class="section-contents main-col">
        <div class="section-body">
            <!-- NEW YORK -->
            <div class="partners__location" id="new-york">
                <h3>New York</h3>

                <div class="partner_school reveal-container" id="ps50" data-id="ps50-description" data-mobile="ps50-description-mobile">
                    <div class="partner_school_image">
                        <img src="/build/img/partners/ps50.png">
                    </div>
                    <div class="partner_school__info">
                        <h3><a href="#" class="reveal-link">P.S. 50 Vito Marcantonio School</a></h3>
                        <p>Principal: Cynthia Rochez</p>
                        <p>Grades: K – 8th (323 students)</p>
                    </div>
                    <div class="mobile--partner_school__description" id="ps50-description-mobile">
                        <p>Our second year as an organization and first year at P.S. 50 was another successful year for Directed Energy as we continued improving our curriculum and incorporating all the positive feedback we received from parents, students and faculty.</p>

                        <p>We held weekly sessions for 6th, 7th and 8th grade boys who immediately embraced Ray's coaching and tutelage. In addition to basketball skill and academic focus, parents and faculty also noticed heightened social responsibility and behavioral improvement among the students.</p>
                    </div>
                </div><div class="partner_school reveal-container" id="mosaic" data-id="mosaic-description" data-mobile="mosaic-description-mobile">
                <div class="partner_school_image">
                    <img src="/build/img/partners/mosaic.png">
                </div>
                <div class="partner_school_info">
                    <h3><a href="#" class="reveal-link">Mosaic Preparatory School</a></h3>
                    <p>Principal: Lisette Caesar</p>
                    <p>Grades: PK – 5th (340 students)</p>
                </div>
                <div class="mobile--partner_school__description" id="mosaic-description-mobile">
                    <p>Our inaugural year was a huge success as we self-funded a full year of weekly sessions for a group of 4th and 5th grade boys looking to further their basketball skills and strategies, while constantly opening up to DE program directors about personal achievements and difficulties.</p>

                    <p>Snow days on Tuesdays became the students’ nightmare, as the weekly afterschool sessions were highly coveted and anticipated.</p>
                </div>
            </div>

            <div class="partner_school__descriptions-container">
                <div class="partner_school__description" id="ps50-description">
                    <h3>P.S. 50 Vito Marcantonio School</h3>
                    <p>Our second year as an organization and first year at P.S. 50 was another successful year for Directed Energy as we continued improving our curriculum and incorporating all the positive feedback we received from parents, students and faculty.</p>

                    <p>We held weekly sessions for 6th, 7th and 8th grade boys who immediately embraced Ray's coaching and tutelage. In addition to basketball skill and academic focus, parents and faculty also noticed heightened social responsibility and behavioral improvement among the students.</p>
                </div>

                <div class="partner_school__description" id="mosaic-description">
                    <h3>Mosaic Preparatory School</h3>
                    <p>Our inaugural year was a huge success as we self-funded a full year of weekly sessions for a group of 4th and 5th grade boys looking to further their basketball skills and strategies, while constantly opening up to DE program directors about personal achievements and difficulties.</p>

                    <p>Snow days on Tuesdays became the students’ nightmare, as the weekly afterschool sessions were highly coveted and anticipated.</p>
                </div>
            </div>
        </div>

        <!-- CALIFORNIA -->
        <div class="partners__location" id="california">
            <h3>California</h3>

            <div class="partner_school reveal-container" id="richman" data-id="richman-description" data-mobile="richman-description-mobile">
                <div class="partner_school_image">
                    <img src="/build/img/partners/fullerton.jpg">
                </div>
                <div class="partner_school__info">
                    <h3><a href="#" class="reveal-link">Richman Elementary School</a></h3>
                    <p>REACH Fullerton is beginning their inaugural year at Richman Elementary in Fullerton, CA August 2016.</p>
                </div>
                <div class="mobile--partner_school__description" id="richman-description-mobile">
                    <p>The REACH program will be held twice a week at <a href="http://www.fullertonsd.org/richman/">Richman Elementary School</a> and will host separate boys and girls programs for 5th and 6th graders during the academic school year (2016-17).  Groups will be approximately 15-20 students in size.  Each session will be conducted by two CSUF undergraduate research assistants who will lead the groups in various skill development sessions specific to soccer & basketball.  Instructors will also lead discussions (Team Talk), implement fitness education, teach reflective writing, and lead the groups in various challenge activities.</p>

                    <p>Our partners in Fullerton include: California State University, Fullerton, The CSUF Center For Healthy Neighborhoods, The Woodcrest Habitat for Humanity, SOQRD Activity Monitors, The Fullerton Collaborative</p>
                </div>
            </div>

            <div class="partner_school__descriptions-container">
                <div class="partner_school__description" id="richman-description">
                    <h3>Richman Elementary School</h3>
                    <p>The REACH program will be held twice a week at <a href="http://www.fullertonsd.org/richman/">Richman Elementary School</a> and will host separate boys and girls programs for 5th and 6th graders during the academic school year (2016-17).  Groups will be approximately 15-20 students in size.  Each session will be conducted by two CSUF undergraduate research assistants who will lead the groups in various skill development sessions specific to soccer & basketball.  Instructors will also lead discussions (Team Talk), implement fitness education, teach reflective writing, and lead the groups in various challenge activities.</p>

                    <p>Our partners in Fullerton include: California State University, Fullerton, The CSUF Center For Healthy Neighborhoods, The Woodcrest Habitat for Humanity, SOQRD Activity Monitors, The Fullerton Collaborative</p>
                </div>
            </div>
        </div>

    </div>
</div> <!-- END #PARTNERS SECTION CONTENTS -->
</div> <!-- END #PARTNERS -->