<div class="section-wrapper" id="partners">
    <div class="section-header">
        <h2 class="main-col main-col-padded">Our Partners</h2>
    </div>
    <div class="section-contents main-col">
        <div class="section-body">
            <div class="partners__row">
                <div class="partner_school reveal-container" id="ps50" data-id="ps50-description" data-mobile="ps50-description-mobile">
                    <div class="partner_school_image">
                        <img src="/build/img/partners/ps50.png">
                    </div>
                    <div class="partner_school__info">
                        <h3><a href="#" class="reveal-link">P.S. 50 Vito Marcantonio School</a></h3>
                        <p>Principal: Cynthia Rochez</p>
                        <p>Grades: K – 8th (323 students)</p>
                    </div>
                    <div class="mobile--partner_school__description" id="ps50-description-mobile">
                        <p>Our second year as an organization and first year at P.S. 50 was another successful year for Directed Energy as we continued improving our curriculum and incorporating all the positive feedback we received from parents, students and faculty.</p>

                        <p>We held weekly sessions for 6th, 7th and 8th grade boys who immediately embraced Ray's coaching and tutelage. In addition to basketball skill and academic focus, parents and faculty also noticed heightened social responsibility and behavioral improvement among the students.</p>
                    </div>
                </div><div class="partner_school reveal-container" id="mosaic" data-id="mosaic-description" data-mobile="mosaic-description-mobile">
                <div class="partner_school_image">
                    <img src="/build/img/partners/mosaic.png">
                </div>
                <div class="partner_school__info">
                    <h3><a href="#" class="reveal-link">Mosaic Preparatory School</a></h3>
                    <p>Principal: Lisette Caesar</p>
                    <p>Grades: PK – 5th (340 students)</p>
                </div>
                <div class="mobile--partner_school__description" id="mosaic-description-mobile">
                    <p>Our inaugural year was a huge success as we self-funded a full year of weekly sessions for a group of 4th and 5th grade boys looking to further their basketball skills and strategies, while constantly opening up to DE program directors about personal achievements and difficulties.</p>

                    <p>Snow days on Tuesdays became the students’ nightmare, as the weekly afterschool sessions were highly coveted and anticipated.</p>
                </div>
            </div><div class="partner_school reveal-container" id="richman" data-id="richman-description" data-mobile="richman-description-mobile">
                <div class="partner_school_image">
                    <img src="/build/img/partners/fullerton.jpg">
                </div>
                <div class="partner_school__info">
                    <h3><a href="#" class="reveal-link">Richman Elementary School</a></h3>
                    <p>Principal: Estella Grimm</p>
                    <p>Grades: K-6 (781 students)</p>
                </div>
                <div class="mobile--partner_school__description" id="richman-description-mobile">
                    <p>REACH-Fullerton is in its inaugural year at <a href="http://www.fullertonsd.org/richman/">Richman Elementary School</a> in Fullerton CA. We are currently serving 45 boys and girls in the 5th grade in a twice- weekly after-school literacy and physical education program revolving around the sport of soccer. Students in the REACH-Fullerton program wear activity monitors to measure their daily physical activity and work on relevant reading and writing projects in and out of the program. Students are empowered to make healthy fitness choices and learn how to be active using jump ropes and resistance bands. Skill development in the sport of soccer occurs in each session in small groups and in larger game-like scenarios. Sessions are taught by Cal State Fullerton undergraduate and graduate students interested in careers in teaching and coaching.</p>

                    <p>REACH- Fullerton is supported by many local community organizations such as Habitat for Humanity and Go Kids Grants as well as the College of Health and Human Development at CSUF. REACH-Fullerton is proud to partner with the CSUF Center for Healthy Neighborhoods to provide FREE educational, physically active learning experiences to youth in our community!</p>
                </div>
            </div>
        </div>

        <div class="partner_school__descriptions-container">
            <div class="partner_school__description" id="ps50-description">
                <h3>P.S. 50 Vito Marcantonio School</h3>
                <p>Our second year as an organization and first year at P.S. 50 was another successful year for Directed Energy as we continued improving our curriculum and incorporating all the positive feedback we received from parents, students and faculty.</p>

                <p>We held weekly sessions for 6th, 7th and 8th grade boys who immediately embraced Ray's coaching and tutelage. In addition to basketball skill and academic focus, parents and faculty also noticed heightened social responsibility and behavioral improvement among the students.</p>
            </div>

            <div class="partner_school__description" id="mosaic-description">
                <h3>Mosaic Preparatory School</h3>
                <p>Our inaugural year was a huge success as we self-funded a full year of weekly sessions for a group of 4th and 5th grade boys looking to further their basketball skills and strategies, while constantly opening up to DE program directors about personal achievements and difficulties.</p>

                <p>Snow days on Tuesdays became the students’ nightmare, as the weekly afterschool sessions were highly coveted and anticipated.</p>
            </div>

            <div class="partner_school__description" id="richman-description">
                <h3>Richman Elementary School</h3>
                <p>REACH-Fullerton is in its inaugural year at <a href="http://www.fullertonsd.org/richman/">Richman Elementary School</a> in Fullerton CA. We are currently serving 45 boys and girls in the 5th grade in a twice- weekly after-school literacy and physical education program revolving around the sport of soccer. Students in the REACH-Fullerton program wear activity monitors to measure their daily physical activity and work on relevant reading and writing projects in and out of the program. Students are empowered to make healthy fitness choices and learn how to be active using jump ropes and resistance bands. Skill development in the sport of soccer occurs in each session in small groups and in larger game-like scenarios. Sessions are taught by Cal State Fullerton undergraduate and graduate students interested in careers in teaching and coaching.</p>

                <p>REACH- Fullerton is supported by many local community organizations such as Habitat for Humanity and Go Kids Grants as well as the College of Health and Human Development at CSUF. REACH-Fullerton is proud to partner with the CSUF Center for Healthy Neighborhoods to provide FREE educational, physically active learning experiences to youth in our community!</p>
            </div>
        </div>

    </div>
</div> <!-- END #PARTNERS SECTION CONTENTS -->
</div> <!-- END #PARTNERS -->