<div class="section-wrapper" id="team">
    <div class="section-header">
        <h2 class="main-col main-col-padded">Our Team</h2>
    </div>
    <div class="section-contents main-col">
        <div class="section-body">
            <div class="team">
                <div class="team-row first">
                    <div class="personnel reveal-container" id="ray" data-id="ray-bio" data-mobile="ray-bio-mobile">
                        <img class="image" src="/build/img/team/ray.png">
                        <div class="name">
                            <h3><a href="#" class="name_link reveal-link">Ray N. Fredrick III</a></h3>
                        </div>
                        <div class="title">
                            <h4>President and Program Director</h4>
                        </div>
                        <div class="bio" id="ray-bio-mobile">
                            <p>
                                Ray N. Fredrick III is a graduate of the United States Military Academy where he earned three letters as a member of the varsity men’s basketball team and  served as a team captain during his senior year.  After a successful five-year active duty military service to his country, Ray completed his master’s degree in physical education from Teachers College, Columbia University.
                            </p>
                            <p>
                                While at Columbia, Ray successfully established several afterschool physical activity programs including two highly successful jump rope programs at the The Nightingale-Bamford School and 92nd Street Y in Manhattan.  In addition to after-school programming, Ray has served as a teacher in several New York City public schools with his latest position being as a physical education instructor at Teachers College Community School during the 2011-2012 school year.   Currently, Ray is a physical education teacher in the Eastchester School District located in Westchester County, New York.
                            </p>
                        </div>
                        </div><div class="personnel reveal-container" id="andrey" data-id="andrey-bio" data-mobile="andrey-bio-mobile">
                            <img class="image" src="/build/img/team/andrey.png">
                            <div class="name">
                                <h3><a href="#" class="name_link reveal-link">Andrey Yoffe</a></h3>
                            </div>
                            <div class="title">
                                <h4>Vice President</h4>
                            </div>
                            <div class="bio" id="andrey-bio-mobile">
                                <p>
                                    Andrey A. Yoffe currently serves in an investment banking role at Barclays Capital, focused on the Aerospace and Defense industry. Andrey has been at Barclays since 2014 and has over 7 years of investment banking experience.
                                </p>
                                <p>
                                    Previously, Andrey founded a local activities start-up company with a focus on stimulating activeness and healthy social interaction in people’s lives.
                                </p>
                                <p>
                                    Andrey completed his bachelor’s degree in finance and international business from the Stern School of Business at New York University.
                                </p>
                            </div>
                        </div><div class="personnel reveal-container" id="risto" data-id="risto-bio" data-mobile="risto-bio-mobile">
                        <img class="image" src="/build/img/team/risto.png">
                        <div class="name">
                            <h3><a href="#" class="name_link reveal-link">Risto Marttinen</a></h3>
                        </div>
                        <div class="title">
                            <h4>Assistant Program Director</h4>
                        </div>
                        <div class="bio" id="risto-bio-mobile">
                            <p>
                                Risto Marttinen is a graduate of California State University, Fullerton where he received his Bachelors degree in Health Science and his Masters Degree in Kinesiology with an emphasis in Sports Psychology. He is currently attending Teachers College, Columbia University for his Doctorate Degree in Education in Curriculum and working as a physical education teacher at the Teachers College Community School in Harlem teaching Pre-K through 2nd grade physical education.
                            </p>
                            <p>
                                Risto’s background includes college wrestling for Fullerton’s Division I wrestling program where he was the Team Captain. Subsequently, he became head assistant coach where he was in charge of recruiting.
                            </p>
                            <p>
                                Risto brings to Directed Energy an understanding of sports psychology, teaching, coaching and an in-depth understanding of the college sports world.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="team-row__bio-container">
                    <div class="bio" id="ray-bio">
                        <h3>Ray N. Fredrick III</h3>
                        <p>
                            Ray N. Fredrick III is a graduate of the United States Military Academy where he earned three letters as a member of the varsity men’s basketball team and  served as a team captain during his senior year.  After a successful five-year active duty military service to his country, Ray completed his master’s degree in physical education from Teachers College, Columbia University.
                        </p>
                        <p>
                            While at Columbia, Ray successfully established several afterschool physical activity programs including two highly successful jump rope programs at the The Nightingale-Bamford School and 92nd Street Y in Manhattan.  In addition to after-school programming, Ray has served as a teacher in several New York City public schools with his latest position being as a physical education instructor at Teachers College Community School during the 2011-2012 school year.   Currently, Ray is a physical education teacher in the Eastchester School District located in Westchester County, New York.
                        </p>
                    </div>

                    <div class="bio" id="andrey-bio">
                        <h3>Andrey Yoffe</h3>
                        <p>
                            Andrey A. Yoffe currently serves in an investment banking role at Barclays Capital, focused on the Aerospace and Defense industry. Andrey has been at Barclays since 2014 and has over 7 years of investment banking experience.
                        </p>
                        <p>
                            Previously, Andrey founded a local activities start-up company with a focus on stimulating activeness and healthy social interaction in people’s lives.
                        </p>
                        <p>
                            Andrey completed his bachelor’s degree in finance and international business from the Stern School of Business at New York University.
                        </p>
                    </div>

                    <div class="bio" id="risto-bio">
                        <h3>Risto Marttinen</h3>
                        <p>
                            Risto Marttinen is a graduate of California State University, Fullerton where he received his Bachelors degree in Health Science and his Masters Degree in Kinesiology with an emphasis in Sports Psychology. He is currently attending Teachers College, Columbia University for his Doctorate Degree in Education in Curriculum and working as a physical education teacher at the Teachers College Community School in Harlem teaching Pre-K through 2nd grade physical education.
                        </p>
                        <p>
                            Risto’s background includes college wrestling for Fullerton’s Division I wrestling program where he was the Team Captain. Subsequently, he became head assistant coach where he was in charge of recruiting.
                        </p>
                        <p>
                            Risto brings to Directed Energy an understanding of sports psychology, teaching, coaching and an in-depth understanding of the college sports world.
                        </p>
                    </div>
                </div>

                <div class="team-row last">
                    <div class="personnel reveal-container" id="amanda" data-id="amanda-bio" data-mobile="amanda-bio-mobile">
                        <img class="image" src="/build/img/team/amanda.png">
                        <div class="name">
                            <h3><a href="#" class="name_link reveal-link">Amanda Borbee</a></h3>
                        </div>
                        <div class="title">
                            <h4>Assistant Program Director</h4>
                        </div>
                        <div class="bio" id="amanda-bio-mobile">
                            <p>Amanda is a recent graduate of Adelphi University with a B.S in Physical Education and a minor in Sports Management. While attending Adelphi University she was a two year member of the Varsity Field Hockey team.</p>

                            <p>Currently, Amanda is working with the NYC Wellness in the Schools program, while pursing a Masters in Sports Management, with a specialization in Sport-Based Youth Development at Adelphi University.</p>
                        </div>
                    </div><div class="personnel reveal-container" id="darnell" data-id="darnell-bio" data-mobile="darnell-bio-mobile">
                        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png">
                        <div class="name">
                            <h3><a href="#" class="name_link reveal-link">Darnell C. Childs</a></h3>
                        </div>
                        <div class="title">
                            <h4>Assistant Program Director</h4>
                        </div>
                        <div class="bio" id="darnell-bio-mobile">
                            <p>
                                Darnell C. Childs, who helps lead the Directed Energy boys program, is a career educator and an active participant in the youth development NPO community. Darnell attended American International College on a basketball scholarship and later was a teacher at P.S. 256K and the St. Gabriel School.
                            </p>
                            <p>
                                In 2007, Darnell took on the role of program coordinator for Directions For Our Youth, a NPO that tends to at-risk students, particularly school drop outs. Shortly after, Darnell founded Helping Our Guys & Girls Succeed Inc., an organization focused on youth education through the completion of college.
                            </p>
                            <p>
                                Darnell joined Directed Energy in 2015 to further DE’s reach and development.
                            </p>
                        </div>
                    </div><div class="personnel reveal-container" id="mitchell" data-id="mitchell-bio" data-mobile="mitchell-bio-mobile">
                        <img class="image" src="/build/img/team/mitchell.png">
                        <div class="name">
                            <h3><a href="#" class="name_link reveal-link">Mitchell Clayton</a></h3>
                        </div>
                        <div class="title">
                            <h4>Board Member</h4>
                        </div>
                        <div class="bio" id="mitchell-bio-mobile">
                            <p>
                                Mitchell Clayton is a Vice President and Portfolio Analyst on Lazard Asset Management’s Alternative Emerging Markets investment team.   She has worked in the financial services industry for 13 years.
                            </p>
                            <p>
                                Mitch is a native New Yorker.  As a power forward at Hunter College High School, she was named to the New York Newsday All-Manhattan 2nd team.  She has served as coach, instructor, and referee in the Safe Haven West Side Basketball League, the neighborhood league in which she played as a girl.  In addition, she plays in several regular pick-up basketball games.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="team-row__bio-container">
                    <div class="bio" id="amanda-bio">
                        <h3>Amanda Borbee</h3>
                        <p>Amanda is a recent graduate of Adelphi University with a B.S in Physical Education and a minor in Sports Management. While attending Adelphi University she was a two year member of the Varsity Field Hockey team.</p>

                        <p>Currently, Amanda is working with the NYC Wellness in the Schools program, while pursing a Masters in Sports Management, with a specialization in Sport-Based Youth Development at Adelphi University.</p>
                    </div>
                    <div class="bio" id="darnell-bio">
                        <h3>Darnell C. Childs</h3>
                        <p>
                            Darnell C. Childs, who helps lead the Directed Energy boys program, is a career educator and an active participant in the youth development NPO community. Darnell attended American International College on a basketball scholarship and later was a teacher at P.S. 256K and the St. Gabriel School.
                        </p>
                        <p>
                            In 2007, Darnell took on the role of program coordinator for Directions For Our Youth, a NPO that tends to at-risk students, particularly school drop outs. Shortly after, Darnell founded Helping Our Guys & Girls Succeed Inc., an organization focused on youth education through the completion of college.
                        </p>
                        <p>
                            Darnell joined Directed Energy in 2015 to further DE’s reach and development.
                        </p>
                    </div>
                    <div class="bio" id="mitchell-bio">
                        <h3>Mitchell Clayton</h3>
                        <p>
                            Mitchell Clayton is a Vice President and Portfolio Analyst on Lazard Asset Management’s Alternative Emerging Markets investment team.   She has worked in the financial services industry for 13 years.
                        </p>
                        <p>
                            Mitch is a native New Yorker.  As a power forward at Hunter College High School, she was named to the New York Newsday All-Manhattan 2nd team.  She has served as coach, instructor, and referee in the Safe Haven West Side Basketball League, the neighborhood league in which she played as a girl.  In addition, she plays in several regular pick-up basketball games.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END #TEAM SECTION CONTENTS -->
</div> <!-- END #TEAM -->